<div [ngClass]="{'correct':gameResult==='gano', 'incorrect':(gameResult==='perdio' || gameResult==='empato')}">
    <input type="text" 
    (keyup.enter)="evaluateType($event)">
    <p *ngIf="gameResult!==undefined">Yo escogí 
        <span *ngIf="programChoosed==='papel'">papel</span>
        <span *ngIf="programChoosed==='piedra'">piedra</span>
        <span *ngIf="programChoosed==='tijeras'">tijeras</span> asi que 
        <b *ngIf="gameResult==='perdio'">YO GANÉ!! :P</b> 
        <b *ngIf="gameResult==='gano'">TÚ GANASTÉ UU</b>
        <b *ngIf="gameResult==='empato'">ESCOGIMOS LO MISMO</b>
    </p>
</div>
