:root{
    --yellow:#cab15a;
    --green: #248E87;
    --green-white:#bfddd8;
    --pink: #ad5e89;
    --pink-white: #cc9eab;
    --brown-yellow:#ae9434;
    --brown:#8a4c2a;
    --grey:#68646c;
    --white:#c9ccae;
}

.cardsDisplay{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bodyCard{
    background-color: var(--brown-yellow);
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 10px 10px 10px 10px;
    border: 8px solid var(--grey);
    max-width: 310px;
    row-gap: 10px;
}

.head{
    border: 5px outset var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px 3px 10px;
    box-sizing: content-box;
    font-weight: bold;
}
.head img{
    max-width:25px;
}
.rate{
    display: flex;
    justify-content: flex-end;
    margin:0 5px 0 5px;
}
.rate img{
    max-width:18px;
}
.imageContainer{
    border: 7px solid var(--grey);
    margin:0 8px 0 8px;
    overflow: hidden;
    aspect-ratio: 1/1;
}
.imageContainer img{
    transform: translate(-50%,-50%);
    margin-left: 50%;
    margin-top: 61%;
    width: 129%;
}
.boxInfo{
    background-color: var(--yellow);
    font-size: small;
    padding: 10px;
    border: 3px solid var(--brown);
    display: flex;
    flex-direction: column;
}

.type::before{
    content: "[";
    font-weight: bolder;
}
.type::after{
    content: "]";
    font-weight: bolder;
}
.type{
    font-weight: bolder;
}
.stats{
    display: block;
    border-top: 1px solid black;
    padding-top: 5px;
    text-align: right;
    font-weight: bolder;
}
.Spell{
    background-color: var(--green) !important;
}
.Spell .boxInfo{
    background-color: var(--green-white) !important;
}
.Trap{
    background-color: var(--pink) !important;
}
.Trap .boxInfo{
    background-color: var(--pink-white) !important;
}