body{
    display: grip;
    grid-template-areas: 
    "header"
    "boards"
    "footer";
    margin: 0;
}
.header{
    display: grid;
    grid-area: header;
    background-color: #53528e;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    justify-items: center;
}
.header img{
    height: 120px;
}
.footer{
    display: grid;
    justify-items: center;
    grid-area: footer;
    background-color: #151415;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23808080' fill-opacity='0.08' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    height: 100px;
    font-family: 'Arvo', serif;
    font-size: 36px;
    color:#5B5D5B;
}
.boards{
    grid-area: main;
    display: grid;
    row-gap: 20px;
    background-color: #313032;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23808080' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.DuelBoard{
    display: inherit;
    border: 3px solid cyan;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 10px;
}
.upsideDown{
    transform: rotateZ(180deg)
}
.DuelBoard div{
    display: inherit;
    grid-row-gap: 10px;
    grid-column-gap:10px;
}
.cardPlace{
    aspect-ratio: 59/86 !important;
    border: 3px solid white;
    outline: 4px solid black;
    align-items: stretch !important;
    justify-items: stretch !important;
    background-color: #5584bd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23000000' fill-opacity='0.1' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}
.boardCenterField .cardPlace{
    aspect-ratio: 70/86 !important;
}
.card{
    border: 3px solid black;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}
.graveyard .card{
    background-image: url('./assets/graveyard.png');
}
.deckzone .card{
    background-image: url('./assets/main-deck.png');
}
.right-pendulum .card{
    background-image: url('./assets/right-pendulum.png');
}
.left-pendulum .card{
    background-image: url('./assets/left-pendulum.png');
}
.field .card{
    background-image: url('./assets/field\,\ spell\,\ trap.png');
}
.extradeck .card{
    background-image: url('./assets/extra-deckpng.png');
}
.banished .card{
    background-image: url('./assets/banished\ zone.png');
}
.boardLeftSide{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr ;
    justify-items: end;
}
.boardCenterField{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: center;
    align-content: center;
    grid-row-gap:10px;
}
.boardRightSide{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.boardRightSide .cardPlace:nth-child(0){
    grid-column:1/2;
    grid-row:1/2
}
.boardRightSide .cardPlace:nth-child(1){
    grid-column:1/2;
    grid-row:2/3
}
.boardRightSide .cardPlace:nth-child(2){
    grid-column:1/2;
    grid-row:3/4
}
.boardRightSide .cardPlace:nth-child(3){
    grid-column:2/3;
    grid-row:1/2
}
.spell{
    background-color: aqua;
}

/* ********************************* */

:root{
    --yellow:#cab15a;
    --green: #248E87;
    --green-white:#bfddd8;
    --pink: #ad5e89;
    --pink-white: #cc9eab;
    --brown-yellow:#ae9434;
    --brown:#8a4c2a;
    --grey:#68646c;
    --white:#c9ccae;
}

.usedCard{
    background-color: var(--brown-yellow);
    display: flex !important;
    flex-direction: column;
    justify-items: space-between;
    padding: 3px;
    border: 8px solid var(--grey);
    max-width: 310px;
    aspect-ratio: 59/86 !important;
}
.usedCard div{
    display:inherit;
}
.usedCard .head{
    flex-direction: row;
    border: 3px outset var(--white);
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    box-sizing: content-box;
    font-weight: bold;
    font-size:x-small;
}
.usedCard .head .NameCard{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow-y: hidden;
}
.usedCard .head img{
    max-width:15px;
}
.usedCard .rate{
    justify-content: flex-end;
    max-width: 90% !important;
    overflow: hidden;
    transform: translateX(10%);
}
.rate img{
    max-width:10px;
}
.imageContainer{
    border: 4px solid var(--grey);
    overflow: hidden;
    aspect-ratio: 1/1 !important;
    
}
.imageContainer img{
    transform: translate(-50%,-50%);
    margin-left: 50%;
    margin-top: 61%;
    width: 200% !important;
    height: 200% !important;

}
.boxInfo{
    background-color: var(--yellow);
    font-size:x-small;
    padding: 3px;
    border: 3px solid var(--brown);
    flex-direction: column;
    justify-content: flex-start;
    aspect-ratio: 4.7/1.5 !important;
    overflow-y:scroll;
}
.boxInfo p{
    margin: 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

.type::before{
    content: "[";
    font-weight: bolder;
}
.type::after{
    content: "]";
    font-weight: bolder;
}
.type{
    font-weight: bolder;
}
.stats{
    display: block;
    border-top: 1px solid black;
    padding-top: 3px;
    text-align: right;
    font-weight: bolder;
}
.Spell{
    background-color: var(--green) !important;
}
.Spell .boxInfo{
    background-color: var(--green-white) !important;
}
.Trap{
    background-color: var(--pink) !important;
}
.Trap .boxInfo{
    background-color: var(--pink-white) !important;
}